@import "./variables.scss";

.multiselect__container {
  position: relative;
  padding-top: 16px;
  padding-bottom: 7px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  width: 100%;
  background: transparent;
  cursor: pointer;
}

.multiselect__placeholder {
  position: absolute;
  content: "";
  top: 16px;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.4);
  user-select: none;
  transition: all 0.2s;
}

.multiselect__placeholder.active {
  top: 0;
  font-size: 14px;
  line-height: 16px;
}

.multiselect__selected {
  position: relative;
  color: $black;
  opacity: 0;
  font-size: 16px;
  line-height: 19px;
  display: block;
  height: 19px;
  white-space: nowrap;
  overflow: hidden;
  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    background: transparent;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    z-index: 1;
  }
}

.multiselect__list {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 0;
  max-height: 200px;
  background-color: #fff;
  opacity: 0;
  overflow: hidden;
  overflow-y: auto;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.23), 0px 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 5;
  transition: all 0.2s;
}

.multiselect__options {
  padding: 12px 12px 6px;
}

.focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: $main-color;
  transition: 0.4s;
}

.multiselect__container.open {
  .focus-border {
    width: 100%;
  }
  .multiselect__list {
    height: auto;
    opacity: 1;
  }
}
